body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 57px;
  padding-right: 55px;
  color: white;
}

p {
  font-size: 20px;
}

/* barra di navigazione */
.header_top {
  height: 60px;
  line-height: 60px;
}
.header_top img {
  height: 20px;
}

.list_style li a {
  text-decoration: none;
  color: black;
}
.list_style li a:hover {
  color: #006AFF;
}

.header_top .button {
  color: #006AFF;
  border: 1px solid #006AFF;
}
.header_top .button:hover {
  color: white;
  background-color: #006AFF;
}

#hamburger {
  font-size: 20px;
  line-height: 60px;
  color: #006AFF;
}

/* jumbotron */
.header_bottom {
  background-image: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
  background-size: cover;
  padding: 50px 0;
}
#title_paragraph {
  color: lightgray;
  padding-right: 65px;
}

.account {
  padding: 10px 15px;
  background-color: white;
  border-radius: 5px;
}
.account p {
  font-size: 12px;
}
.account p a {
  text-decoration: underline;
}

#blue_title {
  margin-top: 5px;
  color: #006AFF;
}

.input_padding {
  padding: 20px 6px;

}
.input_padding::placeholder {
  font-size: 16px;
  color: grey;
}

.account_btn {
  width: 100%;
  margin-bottom: 15px;
  background-color: #579AFF;
  border: none;
}
.account_btn:hover {
  background-color: #1633FF;
}

.google_btn {
  width: 100%;
  margin-bottom: 15px;
  color: grey;
  font-weight: 450;
  border: none;
  box-shadow: 2px 2px lightgrey;
  position: relative;
}
.google_btn img {
  height: 20px;
  position: absolute;
  left: 10px;
}


/* corpo della pagina */
  /* <-- customers --> */
#customers {
  padding: 30px 0;
  background-color: #F3F5F9;
}
#customers h4 {
  font-size: 16px;
  color: #7A859F;
}

#logos_container {
  margin: 40px 0;
  width: 100%;
}

.logo_col {
  height: 90px;
}
img {
  height: 100%;
}

#customer_story a {
  text-decoration: none;
  color: #438DFD;
  font-weight: 450;
}
#customer_story a:hover {
  color: #1633FF;
}

/* <-- deploy and scale --> */
#deploy {
  padding: 50px 0;
}
#deploy p {
  color: #8D96AC;
}

.wrapper {
  width: 80%;
  margin: auto;
  margin-top: 40px;
  padding: 20px 0;
}

#deploy_list {
  padding: 0;
  list-style: none;
}
#deploy_list li {
  padding: 8px;
  border-left: 2px solid #CCCCCC;
  font-size: 18px;

}
#deploy_list li a {
  text-decoration: none;
  color: #7C869F;
}

h5 {
  font-size: 16px;
  color: #031C4E;
}

.deploy_text {
  font-size: 15px;
  color: #7C869F;
  font-weight: 450;
}

#bottom_row {
  margin-top: 20px;
}

#right_side img {
  height: 38px;
}

/* <-- designed for developers --> */
#designed {
  padding: 50px 0;
  background-color: #F3F5F9;
}
#designed h2 {
  color: #122957;
}
#designed p {
  margin-top: 20px;
  margin-bottom: 50px;
  color: #5D6B8A;
}
#designed img {
  height: 350px;
}

.chev {
  margin: 0 15px;
  color: #5D6B8A;
  font-size: 32px;
  cursor: pointer;
}
#chev_right {
  color: #031C4E;
}

#designed_bottom p {
  margin-bottom: 5px;
  font-size: 14px;
  color: #122957;
}
#designed_bottom i {
  font-size: 12px;
  color: #006AFF;
}

/* <-- features --> */
#features {
  padding: 50px 0;
}
#features h2 {
  margin-bottom: 30px;
  color: #122957;
}
#features a {
  text-decoration: none;
  color: #2C81FF;
}
#features a:hover {
  color: #1633FF;
}

/* <-- service --> */
#service {
  padding: 50px 0;
  background-image: linear-gradient(#0047C5, #001E99);
}
#service h2 {
  color: white;
  text-align: center;
}

.city_speed {
  height: 35px;
  line-height: 35px;
  font-size: 12px;
  color: white;
  position: relative;
}
.city_speed a {
  color: #00B1C7;
  text-decoration: none;
}
.city_speed a:hover {
  color: #1633FF;
}

.city_speed::before {
  content: "";
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 95%;
  height: 1px;
}
.city_speed:last-child::before {
display: none;
}
.city_name {
  color: #B8C3E5;
}




@media screen and (max-width: 1200px) {

  .header_top {
    height: 70px;
    line-height: 70px;
  }

  .header_top img {
    height: 30px;
  }

  #hamburger {
    font-size: 25px;
    line-height: 70px;
  }

  /* jumbotron */
  h1 {
    font-size: 47px;
    padding: 0;
  }

  /* customers */
  .logo_col {
    height: 55px;
  }

  /* deploy and scale */
  .deploy_text {
    font-size: 16px;
  }

  /* designed for developers */
  #designed p {
    margin-bottom: 150px;
  }
  #designed_bottom p {
    margin-bottom: 100px;

  }

  .margin_sm {
    margin-bottom: 30px;
  }

  .city_speed::before {
    margin-left: 15px;
  }
}

@media screen and (max-width: 767px) {

  /* jumbotron */
  h1 {
    font-size: 30px;
  }

  #title_paragraph {
    padding-right: 0;
  }

  .account h2 {
    font-size: 25px;
  }

  /* customers */
  #customers h4 {
    font-size: 12px;
  }

  /* deploy and scale */
  .wrapper {
    width: 100%;
  }

  #deploy_list {
    margin-bottom: 20px;
  }

  #deploy h2 {
    font-size: 26px;
  }

  #deploy p {
    font-size: 15px;
  }

  /* designed for developers */
  #designed img {
    height: 150px;
  }

  .chev {
    display: none;
  }

  /* <-- features --> */
  #features h2 {
    font-size: 27px;
  }
  #features img {
    margin-top: 30px;
  }
  #features h2 {
    margin-bottom: 0px;
  }

  /* <-- service --> */
  #service h2 {
    font-size: 24px;
  }
  .city_speed::before {
    margin-left: 10px;
  }

}
