body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 57px;
  padding-right: 55px;
  color: white;
}

p {
  font-size: 20px;
}

/* barra di navigazione */
.header_top {
  height: 60px;
  line-height: 60px;
}
.header_top img {
  height: 20px;
}

.list_style li a {
  text-decoration: none;
  color: black;
}
.list_style li a:hover {
  color: #006AFF;
}

.header_top .button {
  color: #006AFF;
  border: 1px solid #006AFF;
}
.header_top .button:hover {
  color: white;
  background-color: #006AFF;
}

#hamburger {
  font-size: 20px;
  line-height: 60px;
  color: #006AFF;
}

/* jumbotron */
.header_bottom {
  background-image: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
  background-size: cover;
  padding: 50px 0;
}
#title_paragraph {
  color: lightgray;
  padding-right: 65px;
}

.account {
  padding: 10px 15px;
  background-color: white;
  border-radius: 5px;
}
.account p {
  font-size: 12px;
}
.account p a {
  text-decoration: underline;
}

#blue_title {
  margin-top: 5px;
  color: #006AFF;
}

.input_padding {
  padding: 20px 6px;

}
.input_padding::placeholder {
  font-size: 16px;
  color: grey;
}

.account_btn {
  width: 100%;
  margin-bottom: 15px;
  background-color: #579AFF;
  border: none;
}
.account_btn:hover {
  background-color: #1633FF;
}

.google_btn {
  width: 100%;
  margin-bottom: 15px;
  color: grey;
  font-weight: 450;
  border: none;
  box-shadow: 2px 2px lightgrey;
  position: relative;
}
.google_btn img {
  width: 20px;
  position: absolute;
  left: 10px;
}


/* corpo della pagina */
  /* <-- customers --> */
#customers {
  padding: 30px 0;
  background-color: #F3F5F9;
}
#customers h4 {
  font-size: 16px;
  color: #7A859F;
}

#logos_container {
  margin: 40px 0;
  width: 100%;
}

.logo_col {
  height: 60px;
}


#customer_story a {
  text-decoration: none;
  color: #438DFD;
  font-weight: 450;
}
#customer_story a:hover {
  color: #1633FF;
}



@media screen and (max-width: 1200px) {

  .header_top {
    height: 70px;
    line-height: 70px;
  }

  .header_top img {
    height: 30px;
  }

  #hamburger {
    font-size: 25px;
    line-height: 70px;
  }

  /* jumbotron */
  h1 {
    font-size: 47px;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {

  .account h2 {
    font-size: 25px;
  }

}
